@{
    Layout = "_AdminLayout";
}
@model List<Aurun>
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">
                        Ürün Listele
                    </h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="/Admin/KategoriEkleGuncelle" class="btn-geo">
                                + Ürün Ekle
                            </a>
                        </li>
                    </ol>
                </div>
            </div> <!--end::Row-->
        </div> <!--end::Container-->
    </div> <!--end::App Content Header--> <!--begin::App Content-->
    <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="admin-geo-card mb-4">
                        <div class="card-header border-0">
                            <h3 class="card-title">Ürün Listesi</h3>
                        </div> <!-- /.card-header -->
                        <div class="card-body">
                            <table class="admin-geo-table">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Id</th>
                                        <th>Ad</th>
                                        <th>Stok</th>
                                        <th>Açıklama</th>
                                        <th>Fiyat</th>
                                        <th>İndirim</th>
                                        <th>Görsel</th>
                                        <th>Görüntülenme</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sira = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr class="align-middle">
                                                <td>@sira</td>
                                                <td>@item.Id</td>
                                                <td>@item.Ad</td>
                                                <td>@item.Stok</td>
                                                <td>@item.Aciklama</td>
                                                <td>@item.Fiyat</td>
                                                <td>@item.Indirim</td>
                                                <td>@item.Gorsel</td>
                                                <td>@item.Goruntulenme</td>
                                                <td>
                                                    <a href="/AdminUrun/UrunSil/@item.Id" onclick="return confirm('silmek istediğinize emin misiniz?')"> <i class="fa-solid fa-trash"></i></a>-
                                                    <a href="/Admin/KategoriEkleGüncelle/@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                                </td>
                                            </tr>
                                            sira++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div> <!-- /.card-body -->
                    </div> <!-- /.card -->

                </div> <!-- /.col -->
            </div>

        </div>
    </div>

</main>
